body {
  background: black;
  margin: 0;
  padding: 0;
}

canvas {
  height: 480px;
  width: 480px;
}

#fps {
  float: right;
  color: green;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: bold;
}
